h1 {
    text-align: center;
    font-size:xx-large;
    width: 20%;
    height:0 auto;
    border: 2px solid black;
    outline: #4CAF50 solid 10px;
    margin: auto;  
    padding: 5px;
    
  }
  
  h3 {
   
    font-size: small;
    text-align: right;
    color: red;
    font-style: italic;
  }

  .per {
    color: rgb(139, 4, 4);
    font-style: italic;
    text-align: left;
    
  }

  h4{
    font-style: italic;
  }

  p {
    padding: 30px;
    border: 1px solid #4CAF50;
    font-size: large;
  }